/*Estilos generales */
.home-content-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #1a1a33;
  gap: 20px;
}

.content-title {
  color: white;
  text-align: center;
}

.button-title {
  color: white;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home-content-container {
    justify-content: space-evenly;
    padding: 20px;
    gap: 30px;
  }

  .card-item {
    height: 190px;
    width: 40%;
    min-width: 150px;
  }

  .content-title {
    font-size: 1.3rem;
    margin-top: 12px;
    margin-bottom: 10px;
  }
  
  .button-title {
    margin-top: 20px;
    font-size: 1.2rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .home-content-container {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    gap: 30px;
  }

  .card-item {
    height: 220px;
    width: 45%;
  }

  .content-title {
    font-size: 1.5rem;
  }

  .button-title {
    font-size: 1.3rem;
    margin-top: 19px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home-content-container {
    padding: 40px;
    gap: 30px;
  }

  .card-item {
    width: 47%;
    border-width: 4px;
  }

  .content-title {
    font-size: 1.7rem;
  }

  .button-title {
    font-size: 1.4rem;
    margin-top: 19px;
  }
  
  .button-container {
    padding-bottom: 0px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home-content-container {
    display: flex;
    justify-content: space-evenly;
    padding: 60px 60px 0 60px;
    gap: 40px;
  }

  .card-item {
    min-height: 240px;
    width: 47%;
  }

  .content-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .button-container {
    padding-bottom: 30px;
  }

  .button-title {
    font-size: 1.5rem;
    margin-bottom: 0px;

  }

  .button-container {
    padding-bottom: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home-content-container {
    display: flex;
    justify-content: space-around;
    padding: 60px 60px 0 60px;
    gap: 50px;
  }

  .card-item {
    min-height: 260px;
    width: 47%;
  }

  .content-title {
    font-size: 2.3rem;
    margin-bottom: 20px;
  }

  .button-container {
    padding-bottom: 30px;
  }

  .button-title {
    font-size: 1.6rem;
    margin-bottom: 40px;
  }
}