.home-content-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #1a1a33;
  padding: 60px 60px 0 60px;
  gap: 50px;
}

.card-item {
  border: 10px solid green;
}

.content-title {
  color: white;
  font-size: 2.34rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 38px;
}

.button-title {
  color: white;
  font-weight: 600;
  margin-bottom: 0px;
  text-align: center;
}